main {
  text-align: center;
}

nav {
  font-size: 25px;
  text-align: center;
  /* background-color: rgb(79, 102, 165); */
  text-transform: uppercase;
  padding-top: .5em;
  font-weight: bold;
}

div  {
  display: block;
  width: 200px;
  font-size: 12px;
  float: right;
  text-transform: capitalize;
}
