main {
  text-align: center;
}

header {
  font-size: 30px;
  text-align: center;
  /* background-color: rgb(110, 111, 167); */
  text-transform: uppercase;
  padding-top: .5em;
  font-weight: bold;
}
/*
div  {
  display: block;
  width: 200px;
  font-size: 12px;
  float: right;
  text-transform: capitalize;
} */
